.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;

  &__list {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  &__item {
    background-color: white;
    padding: 1rem;
    border-radius: 1px;
    color: black;
  }

  @media only screen and (max-width: $bp-sm) {
    &__main {
      display: flex;
      justify-content: space-between;
    }
    &__sub {
      display: none;
    }
    .show {
      display: block;
    }
  }
}

