.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;

  &__list {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  &__item {
    background-color: white;
    padding: 1rem;
    border-radius: 1px;
    color: black;
  }
}
