.navigation {
  position: relative;
  padding: 2rem;

  &__logo {
    font-size: 1.5rem;
  }

  &__links {
    display: none;
    font-size: 3rem;
  }

  &__link-items {
    display: flex;
    flex-direction: column;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__button-box {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
  }

  &__button {
    fill: white;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
  }
}

// functionality
.menu-open {
  display: block;
}

#close-menu {
  display: none;
}

//icons
#github-icon {
  @include icon-style;
}

#linkedin-icon {
  @include icon-style;
}

//header
.header-top {
  @include header-menu;
}

.header-bottom {
  padding: 0 2rem 0 2rem;
}
