.navigation {
  position: relative;
  padding: 2rem;

  &__desktop {
    display: none;

    &-icons {
      display: none;
    }
  }

  &__logo h1 {
    font-size: 3.5rem;
    display: inline-block;
  }

  &__links {
    display: none;
    font-size: 3rem;
  }

  &__link-items {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__button-box {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;

    padding-top: 1rem;
  }

  &__button {
    fill: white;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
  }
}

// functionality
.menu-open {
  display: block;
}

#close-menu {
  display: none;
}

//icons
#github-icon {
  @include icon-style;
}

#linkedin-icon {
  @include icon-style;
}

//header
.header-top {
  @include header-menu;
}

.header-bottom {
  position: absolute;
  background-color: black;
  padding: 0 2rem 0 2rem;
  // border-bottom: 1px solid white;
  z-index: 2000;
  width: 100%;
}

a:hover {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: $bp-xxs) {
  .navigation {
    display: flex;
    justify-content: space-between;

    &__button-box {
      display: none;
      opacity: 0;
    }

    &__desktop {
      display: inline-block;
      font-size: 3rem;
      align-self: flex-end;

      &-icons {
        display: flex;
        gap: 2rem;

        align-self: flex-end;
      }

      & > :hover {
        border-bottom: 3px solid white;
      }

      & > :not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
}

// sticky navigation
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: black;
}

.stickyBottom {
  position: fixed;
  top: 8%;


  @media only screen and (min-width: $bp-xxs) {
    display: none;
  }
}
