.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.carousel {
  border-bottom: 1px solid white;
  grid-column: 1/3;
}

.description {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
