.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.carousel {
  border-bottom: 1px solid white;
  grid-column: 1/3;

  @media only screen and (max-width: $bp-sm) {
    grid-column: 1/-1;
  }
}

.description {
  border-bottom: 1px solid white;
  border-left: 1px solid white;

  @media only screen and (max-width: $bp-sm) {
    grid-column: 1/-1;
    border-left: none;
  }
}
