*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //10px
  box-sizing: inherit;

  @media only screen and (max-width: $bp-sm) {
    font-size: 50%; //8px
  }

  @media only screen and (max-width: $bp-xs) {
    font-size: 40%;  //6.4px
  }
}

body {
  background-color: black;
  color: white;
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
