*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //10px
  box-sizing: inherit;
}

body {
  background-color: black;
  color: white;
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
