@mixin icon-style {
  fill: white;
  height: 2.5rem;
  width: 2.5rem;
}

@mixin header-menu {
  border-bottom: 1px solid white;
}

@mixin form-style {
  width: 300px;
  height: 150px;
  outline: none;
  border: 1px solid #000;
}
