@mixin icon-style {
  fill: white;
  height: 2.5rem;
  width: 2.5rem;
}

@mixin header-menu {
  border-bottom: 1px solid white;
}

@mixin form-style {
  outline: none;
  border: 1px solid #000;
  border-radius: 3px;
}

@mixin label {
  color: #000;
  font-size: 1.5rem;
}
